<div class="container">
  <h1>Welcome to Travel Agency</h1>
  <br>
  <div class="images">
    <img src="./assets/Beach.jpg" alt="beach">
    <img src="./assets/Giraffes.jpg" alt="giraffes">
    <img src="./assets/RilaLakes.jpg" alt="Rila lakes">
  </div>
  <h2>Search for your dream holiday...</h2>
  <form>
    <input #countryInput type="text" name="country" placeholder="Country">
    <input #tranportInput type="text" name="transport" placeholder="Transport">
    <button (click)="search(countryInput, tranportInput)">Search</button>
  </form>
  <h2>or just visit our <a routerLink="/catalog"> Catalog page</a></h2>
  <br>
  <div class="catalog">
    <div *ngIf="searchResult?.length==0" class="result">Sorry, we couldn't find any offers that match your search.
      Please try again.</div>
    <ng-container *ngIf="searchResult">
      <div *ngFor="let singleOffer of searchResult" class="singleOffer">
        <img src="{{singleOffer.imageUrl}}" alt="offer image" class="picture">
        <h3>{{singleOffer.offerName}}</h3>
        <p>{{singleOffer.description}}</p>
        <button [routerLink]="['/catalog', singleOffer._id]">Details</button>
      </div>
    </ng-container>
  </div>
</div>