<div class="container">
    <div class="offer">
        <img src="" alt="default">
        <h3>Offer name</h3>
        <!-- <ng-container >
            <form>
                <div class="flex">
                    <p>Country</p>
                    <input type="text" name="country" id="coutry">
                </div>
                Errors
                <div class="flex">
                    <p>Days</p>
                    <input type="number" name="days" id="days">
                </div>
                <div class="flex">
                    <p>Transport</p>
                    <input type="text" name="transport" id="transport">
                </div>
                <div class="flex">
                    <p>Price</p>
                    <input type="number" name="price" id="price">
                </div>
                <div class="flex">
                    <p>Description</p>
                    <textarea type="text" name="description" id="description" rows="8"></textarea>
                </div>
                <br>
                <button class="green-button">Save</button>
                <button type="button" class="red-button">Cancel</button>
            </form>
        </ng-container> -->





<ng-container >
    <form action="">
        <div class="flex">
            <p>Coutry: </p>
            <p>coutry</p>
        </div>
        <div class="flex">
            <p>Days: </p>
            <p>days</p>
        </div>
        <div class="flex">
            <p>Transport: </p>
            <p>transport</p>
        </div>
        <div class="flex">
            <p>Price: </p>
            <p>price EUR</p>
        </div>
        <div class="flex">
            <p>Description: </p>
            <p>description</p>
        </div>
        <button class="edit-button">Edit</button>
        <button class="red-button">Delete</button>
        <button class="green-button">Book</button>
        <!-- <p>You've already booked this trip!</p> -->
    </form>
</ng-container>
</div>
</div>