<div class="container">
  <div class="offer">
    <img src="" alt="offer image">
    <h3>Offer name</h3>
    <div *ngIf="serverError" class="error">
      Something went wrong! Please try again later!
    </div>
    <ng-container *ngIf="!editOffer">
      <form>
        <div class="flex">
          <p>Coutry: </p>
          <p>coutry</p>
        </div>
        <div class="flex">
          <p>Days: </p>
          <p>days</p>
        </div>
        <div class="flex">
          <p>Transport: </p>
          <p>transport</p>
        </div>
        <div class="flex">
          <p>Price: </p>
          <p>price EUR</p>
        </div>
        <div class="flex">
          <p>Description: </p>
          <p>description</p>
        </div>
        <ng-container *ngIf="userRole">
          <button (click)="editOffer=true" class="edit-button">Edit</button>
          <button class="red-button">Delete</button>
        </ng-container>
        <ng-container *ngIf="!userRole">
          <button class="green-button">Book</button>
          <!-- <p>You've already booked this trip!</p> -->
        </ng-container>
      </form>
      <br>
      <h3>Need more infromation? Please, contact us</h3>
      <button (click)="toggleText()">{{showContacts? 'Our Contacts':'Hide contacts'}}</button>
      <div *ngIf="!showContacts">
        <br>
        <b>Sofia 1000</b><br>phone: 0878/000 000<br>email: travelagency@gmail.com
      </div>
    </ng-container>


    <ng-container *ngIf="userRole&&editOffer">
      <form>
        <div class="flex">
          <p>Country</p>
          <input type="text" name="country" id="coutry">
        </div>
        <!-- Errors -->
        <div class="flex">
          <p>Days</p>
          <input type="number" name="days" id="days">
        </div>
        <div class="flex">
          <p>Transport</p>
          <input type="text" name="transport" id="transport">
        </div>
        <div class="flex">
          <p>Price</p>
          <input type="number" name="price" id="price">
        </div>
        <div class="flex">
          <p>Description</p>
          <textarea type="text" name="description" id="description" rows="8"></textarea>
        </div>
        <br>
        <button class="green-button">Save</button>
        <button type="button" (click)="editOffer=false" class="red-button">Cancel</button>
      </form>
    </ng-container>



  </div>
</div>
