<div class="container">
  <div class="offer">
    <img src="{{offer?.imageUrl}}" alt="offer image">
    <h3>{{offer?.offerName}}</h3>
    <div *ngIf="serverError" class="error">
      Something went wrong! Please try again later!
    </div>
    <div *ngIf="unauthorized" class="error">
      You don't have the rights edit or delete!
    </div>
    <ng-container *ngIf="!editOffer">
      <form>
        <div class="flex">
          <p>Coutry: </p>
          <p>{{offer?.country}}</p>
        </div>
        <div class="flex">
          <p>Days: </p>
          <p>{{offer?.days}}</p>
        </div>
        <div class="flex">
          <p>Transport: </p>
          <p>{{offer?.transport}}</p>
        </div>
        <div class="flex">
          <p>Price: </p>
          <p>{{offer?.price}} EUR</p>
        </div>
        <div class="flex">
          <p>Description: </p>
          <p>{{offer?.description}}</p>
        </div>
        <div class="flex">
          <p>Created by: </p>
          <p>{{offer?.userId?.username}}</p>
        </div>
        <!-- Agent -->
        <ng-container *ngIf="userRole">
          <!-- <ng-container *ngIf="isOwner"> -->
          <button (click)="editOffer=true" class="edit-button">Edit</button>
          <button (click)="deleteOffer()" class="red-button">Delete</button>
          <!-- </ng-container> -->
        </ng-container>
        <!-- Client -->
        <ng-container *ngIf="!userRole">
          <button class="green-button">Book</button>
         <p>You've already booked this trip!</p>
        </ng-container>
      </form>
      <br>
      <h3>Need more infromation? Please, contact us</h3>
      <button (click)="toggleText()">{{showContacts? 'Our Contacts':'Hide contacts'}}</button>
      <div *ngIf="!showContacts">
        <br>
        <b>Sofia 1000</b><br>phone: 0878/000 000<br>email: travelagency@gmail.com
      </div>
    </ng-container>


    <ng-container *ngIf="userRole && editOffer">
      <form #form="ngForm" (ngSubmit)="editCurrentOffer(form)"> <!---->
        <!-- Errors -->
        <div class="flex">
          <p>Days</p>
          <input #daysInput="ngModel" type="number" name="days" min="1" id="days" [ngModel]="offer!.days" required>
        </div>
        <div *ngIf="daysInput.errors?.required" class="error">
          This field is required and must be number!
        </div>
        <div class="flex">
          <p>Price</p>
          <input #priceInput="ngModel" type="number" min="1" name="price" id="price" [ngModel]="offer!.price" required>
        </div>
        <div *ngIf="priceInput.errors?.required" class="error">
          This field is required and must be number!
        </div>
        <div class="flex">
          <p>Description</p>
          <textarea #descriptionInput="ngModel" type="text" name="description" id="description" rows="8" [ngModel]="offer!.description" required minlength="20"></textarea>
        </div>
        <div *ngIf="descriptionInput.errors?.required" class="error">
          Description is required!
        </div>
        <div *ngIf="descriptionInput.errors?.minlength" class="error">
          Descriptionshould be at least 20 characters long!
        </div>
        <br>
        <button class="green-button">Save</button>
        <button type="button" (click)="editOffer=false" class="red-button">Cancel</button>
      </form>
    </ng-container>



  </div>
</div>
