<div class="container">
  <div class="profile">
    <h3>Your profile</h3>
    <div *ngIf="serverError" class="error">
      Something went wrong! Please try again later!
    </div>
    <br>
    <ng-container *ngIf="!editProfile">
      <form>
        <div class="flex">
          <p>Username: </p>
          <p>{{user?.username}}</p>
        </div>
        <div class="flex">
          <p>Email: </p>
          <p>{{user?.email}}</p>
        </div>
        <div class="flex">
          <p>Profile: </p>
          <p>{{user?.userRole}} profile</p>
        </div>
        <!-- Agent -->
        <ng-container *ngIf="userRole">
          <div class="flex">
            <p>My offers:</p>
            <p *ngIf="hasOffers" class="noOffers">You don't have any offers. <a routerLink="/create">Create one</a></p>
            <ul *ngIf="!hasOffers">
              <li *ngFor="let singleOffer of userOffers">{{singleOffer.offerName}} <a
                  routerLink="/catalog/{{singleOffer._id}}">See more</a></li><br>
            </ul>
          </div>
        </ng-container>
        <!-- Client -->
        <ng-container *ngIf="!userRole">
          <div class="flex">
            <p>My reservations:</p>
            <p *ngIf="hasOffers" class="noOffers">You don't have any reservations. <a routerLink="/catalog">Make one</a>
            </p>
            <ul *ngIf="!hasOffers">
              <li *ngFor="let singleOffer of userOffers">{{singleOffer.offerName}} <a
                  routerLink="/catalog/{{singleOffer._id}}">See more</a></li><br>
            </ul>
          </div>
        </ng-container>
        <button (click)="editProfile=true" class="edit-button">Edit</button>
      </form>
    </ng-container>

    <ng-container *ngIf="editProfile">
      <form #form="ngForm" (ngSubmit)="editUserProfile(form)">
        <div class="flex">
          <p>Username: </p>
          <input #usernameInput="ngModel" type="text" name="username" id="username" minlength="4"
            [ngModel]="user!.username">
        </div>
        <div *ngIf="usernameInput.errors?.minlength" class="error">
          Username must be at least 4 characters long!
        </div>
        <div class="flex">
          <p>Email: </p>
          <input #emailInput="ngModel" type="email" name="email" id="email" email [ngModel]="user!.email">
        </div>
        <div *ngIf="emailInput.errors?.email" class="error">
          Please enter a valid email!
        </div>
        <button class="green-button">Save</button>
        <button type="button" (click)="editProfile= false" class="red-button">Cancel</button>
      </form>
    </ng-container>
  </div>
</div>
