<div>
    <div class="title_int">
       <h1>Contacts</h1>
       <p>This is where you can find us</p>
    </div>
    <br>
 
             <div class="wiki_td contact">
                <b>Sofia 1000</b><br>phone: 0878/000 000<br>email: travelagency@gmail.com
             </div>
             <div class="wiki_td map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.4944910668155!2d23.32033611546689!3d42.69324927916596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa856d724c2927%3A0x980275dd34023e11!2z0YPQuy4gLCzQkNC90LPQtdC7INCa0YrQvdGH0LXQsiIgMSwgMTAwMCDQodC-0YTQuNGP!5e0!3m2!1sbg!2sbg!4v1491980416776"></iframe>
             </div>
         
 </div> 