<footer id="footer">
   <div id="wrapper">
      <div class="contacts">
         <p>Контакти:</p>
         <p>
            София 1000
         </p>
         <p>
            0878/ 000 000
         </p>
         <p>travelagency@gmail.com</p>
      </div>
      
         <div class="working">
         <p>Работно време:</p>
            <p>Понеделник - Петък</p>
            <p>
               09:00 - 18:00ч.
            </p>
            <p>Събота и Неделя</p>
            <p>
               Почивен Ден     
            </p>
         </div>
   
   </div>
</footer>