#footer {
  float:left;
  background:#333333;
  width:100%;
  min-width:1346px;
  height:423px;
  clear: both;
 }
 
footer p {
   color: #ffffff,
 
 }

.contacts {
  width: 40%;
  float: right;
 // padding-left: 20%;
}

.working {
  width: 40%;
  float: right;
}