<div class="container">
    <form  class="register" action="" method="post">
       <fieldset>
          <h2>Registration Form</h2>

          <div class="field field-icon">
             <label for="username">Username</label>
             <input class="input-error" type="text" name="username" id="username" placeholder="Enter your username here" >
          </div>
          <!-- Errors -->

          <div class="field field-icon">
             <label for="email">Email</label>
             <input type="email" name="email" id="email" placeholder="Enter your email here">
          </div>

          <div class="field field-icon">
             <label for="password">Password</label>
             <input type="password" name="password" id="password" placeholder="******">
          </div>

          <div class="field field-icon">
             <label for="rePassword">Repeat Password</label>
             <input type="password" name="rePassword" id="rePassword" placeholder="******" >
          </div>
            <div>
                <label for="role">Register as:</label>
                <select id="role" name="role">
                   <option value="1">Agent</option>
                   <option value="2">Client</option>
               </select>
            </div>
          <button>Create Account</button>
          <p class="text-center">
             Already have an account? <br>
             <a routerLink='/user/login'>Log In</a>
          </p>
       </fieldset>
    </form>
 </div> 