<div class="container">
   <div class="profile">    <!-- <img src="./assets/profile.png" alt="default user"> -->
        <h3>Your profile</h3>
        <div class="flex">
            <p>Username: </p>
            <p>Some username</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>Some email</p>
        </div>
        <div class="flex">
            <p>Interested in offer for:</p>
            <p>Some reservation</p>
        </div>
        <div class="flex">
            <p>My reservations: </p>
            <p>Some reservation</p>
        </div>
        <!-- <button class="edit-button">Edit</button> -->
    </div>
</div>