<div class="container">
    <div class="profile"><img src="./assets/profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>username</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>email</p>
        </div>
        <div class="flex">
            <p>Interested in offer for:</p>
            <p>reservation</p>
        </div>
        <div class="flex">
            <p>My reservations: </p>
            <p>reservation</p>
        </div>
        <button class="edit-button">Edit</button>
    </div>
</div>