<div class="container">
  <h1>About us</h1>
  <p>Our Travel Agency is a licensed Tour operator established in 2000 and located in Sofia, the capital of Bulgaria.
    <br>
    We have researched destinations and Hotels, and can design a program providing the best possible value within our
    client’s budget.
    We are committed to provide services and to ease the travel plans of businessmen and tourists, alike giving our
    clients peace of mind and enabling them to relax and enjoy their trip.
    We offer a range of quality services to aid and inspire travelers at home.
    Some of our tour activities include: hotel reservations, transfers, car rental, flight and bus tickets, business
    trips, Eco, Historical, Cultural, Heritage, Wine – testing, Hunting and Sightseeing Tours, professional tour guides
    etc.
    In addition to accommodating Individual travelers, Travel Agency provides excellent and innovative Group travel
    programs, Winter, Summer and Spa vacations.
  </p>
  <div class="images">
    <img src="./assets/Beach.jpg" alt="beach">
    <img src="./assets/Giraffes.jpg" alt="giraffes">
    <img src="./assets/RilaLakes.jpg" alt="Rila lakes">
  </div>
</div>