<div class="offer">
            <h3>Create New Offer</h3>
        <form>
            <div class="createOffer">
                <label for="themeName">Offer name</label>
                <input  type="text" name="offerName" id="offerName">
                <!-- Errors -->
            </div>
            <div class="createOffer">
                <label for="themeName">Image URL</label>
                <input  type="text" name="imageUrl" id="imageUrl">
            </div>
            <div class="createOffer">
                <label for="themeName">Days</label>
                <input  type="number" name="days" id="days">
            </div>
            <div class="createOffer">
                <label for="themeName">Transport</label>
                <input  type="text" name="transport" id="transport">
            </div>
            <div class="createOffer">
                <label for="themeName">Price</label>
                <input  type="number" name="price" id="price">
            </div>
            <div class="createOffer">
                <label for="postText">Description</label>
                <textarea type="text" name="description" id="description" rows="8"></textarea>
            </div>
         <br>
                <button class="green-button">Save</button>
                <button type="button" routerLink="/catalog" class="red-button">Cancel</button>
        </form>
    </div>