<div class="offer">
            <h3>Create New Offer</h3>
        <form #form="ngForm">
            <div class="createOffer">
                <label for="themeName">Offer name</label>
                <input #offerNameInput="ngModel" ngModel type="text" name="offerName" id="offerName" required minlength="6">
                <ng-container *ngIf="offerNameInput.touched">
                    <div *ngIf="offerNameInput.errors?.required" class="error">
                      Offer name is required!
                    </div>
                    <div *ngIf="offerNameInput.errors?.minlength" class="error">
                      Offer name should be at least 6 characters long!
                    </div>
                  </ng-container>
            </div>
            <div class="createOffer">
                <label for="themeName">Image URL</label>
                <input #imageUrlInput="ngModel" ngModel type="text" name="imageUrl" id="imageUrl" required>
            </div>
            <!-- check gor valid URL -->
            <ng-container *ngIf="imageUrlInput.touched">
                <div *ngIf="imageUrlInput.errors?.required" class="error">
                  This field is required!
                </div>
              </ng-container>
            <div class="createOffer">
                <label for="themeName">Days</label>
                <input #daysInput="ngModel" ngModel type="number" min="1" name="days" id="days" required>
            </div>
            <ng-container *ngIf="daysInput.touched">
              <div *ngIf="daysInput.errors?.required" class="error">
                This field is required and must be number!
              </div>
            </ng-container>
            <div class="createOffer">
                <label for="themeName">Transport</label>
                <input #transportInput="ngModel" ngModel type="text" name="transport" id="transport" required>
            </div>
            <ng-container *ngIf="transportInput.touched">
              <div *ngIf="transportInput.errors?.required" class="error">
                This field is required!
              </div>
            </ng-container>
            <div class="createOffer">
                <label for="themeName">Price</label>
                <input #priceInput="ngModel" ngModel type="number" min="1" name="price" id="price" required>
            </div>
            <ng-container *ngIf="priceInput.touched">
              <div *ngIf="priceInput.errors?.required" class="error">
                This field is required and must be number!
              </div>
            </ng-container>
            <div class="createOffer">
                <label for="postText">Description</label>
                <textarea #descriptionInput="ngModel" ngModel type="text" name="description" id="description" rows="8" required minlength="20"></textarea>
            </div>
            <ng-container *ngIf="descriptionInput.touched">
              <div *ngIf="descriptionInput.errors?.required" class="error">
                Description is required!
              </div>
              <div *ngIf="descriptionInput.errors?.minlength" class="error">
                Descriptionshould be at least 20 characters long!
              </div>
            </ng-container>
         <br>
                <button class="green-button">Save</button>
                <button type="button" routerLink="/catalog" class="red-button">Cancel</button>
        </form>
    </div>