.offer {
    border-radius: 1em;
    width: 60%;
   margin: 2em auto 1rem;
    padding: .5em;
    border: .3em solid rgb(234, 236, 106);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(96, 31, 218);
    background-color: hsla(0, 0%, 94.1%, .8);
    box-shadow: 0 0 1em 0 #000;
    text-align: center;
}

.createOffer textarea {
    width: 55%;
    padding: 0.5em;
    margin: 0;
    align-content: center;
}

.createOffer input {
    width: 55%;
    border-radius: 0.3em;
    padding: 0.35em;
}

button {
    border: none;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    outline: solid;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(96, 31, 218);
    background-color: rgb(234, 236, 106);
}

button:hover{
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
}

button+button {
    margin-left: 1rem;
}

// p.error {
//     text-align: left;
//     border-radius: 0.3em;
//     color: red;
//     padding-top: 0;
// }

// .input-error {
//     border-left-color: red;
// }

label {
    display: block;
    text-decoration: bold;
    text-align: center;
}

.red-button {
    color: rgb(3, 3, 3);
    background-color: red;
}

.green-button {
    color: rgb(3, 3, 3);
    background-color: green;
}