<div class="container">
    <form  class="login" action="" method="post">
       <fieldset>
          <h2>Login Form</h2>
          <div class="field field-icon">
             <label for="email">Email</label>
             <input class="input-error" type="email" name="email" id="email" 
                placeholder="Enter your email here"> 
          </div>
          <!-- Errors -->
          <div class="field field-icon">
             <label for="password"><span>Password</span></label>
             <input  type="password" name="password" id="password" 
                placeholder="******" >
          </div>
          <button>Login</button>
          <p class="text-center">
             Have an account? <br>
             <a routerLink="/user/register">Register Here</a>
          </p>
       </fieldset>
    </form>
</div> 