<div class="container">
    <h1>Welcome to Travel Agency</h1>
    <br>
    <div class="images">
       <img src="./assets/Beach.jpg" alt="beach">
       <img src="./assets/Giraffes.jpg" alt="giraffes">
       <img src="./assets/RilaLakes.jpg" alt="Rila lakes">
    </div>
    <h2>Search for your dream holiday...</h2>
        <form >
            <input type="text" name="country" placeholder="Country">
            <input type="text" name="transport" placeholder="Transport">
            <button>Search</button>
        </form>
        <h2>or just visit our <a routerLink="/catalog"> Catalog page</a></h2>
    <br>
 </div>